.jumbotron {
  background-color: #425599;
  color: black;
  margin-top: 50px;
}
.btn {
  color: black;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #425599;
  margin-bottom: 0px;
  margin-top: 10px;
  color: white;
}
.icon {
  padding-top: 0px;
}
.card-hotel {
  flex: 1 210px;
  margin-top: 10px;
}
.btn-reserve {
  width: 100%;
  border-radius: 0px;
  background-color: dodgerblue;
}
.footer-addres-icon {
  padding-right: 10px;
}
.redes {
  color: white;
}
.banner {
  width: 100%;
  background-color: dodgerblue;
  padding: 30px;
  margin-bottom: 10px;
}
.card-img {
  width: 10%;
  height: 10%;
}
