@blu: #425599;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @blu;
    color: black;
    .margenes(50px, 0px)
 }
  
  .btn {
    color: black; }
  
  .footer {
    padding: 10px 10px 0 10px;
    background-color: @blu;
    color: white;
    .margenes(10px, 0px)
     }
  
  .icon {
    padding-top: 0px; }
  
  .card-hotel {
    flex: 1 210px;
    .margenes(10px, 0px )
 }
  
  .btn-reserve {
    width: 100%;
    border-radius: 0px;
    background-color: dodgerblue; }
  
  .footer-addres-icon {
    padding-right: 10px; }
  
  .redes {
    color: white; }
  
  .banner {
    width: 100%;
    background-color: dodgerblue;
    padding: 30px;
    margin-bottom: 10px; }
  
  .card-img {
    width: 10%;
    height: 10%; }
  